@charset "utf-8";

@import url('rob-journal.css');

body {
  background: #FFF;
  font-family: sans-serif;
}

h1 {
  color: rgba(0, 0, 255, 1);
  font-weight: bold;
  font-size: 32px;
  padding: 35px 5px 10px;
  margin: 0;
}

.doc {
  font-size: 14px;
  margin: 0;
}
.doc:before, .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•";
}
.doc a {
    color: rgba(0, 0, 0, 0.3);
}
.doc a:hover {
    color: #666;
}
