<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Keep Pushing the Limits" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header class="site-header">
      <% if content_for?(:header) %>
      <div class="site-header__content">
	Hello :header!  this is in ~/source/layouts/layout.erb
	<%= yield_content :header %>
      </div>
      <% end %>
      <%= render_navigation %>
    </header>

    <%= yield %>
  </body>
</html>
