---
navigation:
  title: calendar
  hidden: true
pageable: true
per_page: 25
---
<h1>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%e %B %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%B %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><span><%= article.date.strftime('%d %B %Y') %></span> <%= link_to article.title, article %></li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
